In [2]:
import pandas as pd

In [3]:
df=pd.read_csv('crop_production.csv')

In [4]:
from sklearn.linear_model import LinearRegression
from sklearn import preprocessing

In [5]:
df.head()

        Season                 Crop    Area  Production
0  Kharif                  Arecanut  1254.0      2000.0
1  Kharif       Other Kharif pulses     2.0         1.0
2  Kharif                      Rice   102.0       321.0
3  Whole Year                Banana   176.0       641.0
4  Whole Year             Cashewnut   720.0       165.0

In [6]:
X = df[['Area','Production']]
Y = df['Crop']

In [7]:
from sklearn.preprocessing import LabelEncoder

In [8]:
le = LabelEncoder()

In [9]:
numerics = ['int64','float64']
cat = ['object']

dataset_num = df.select_dtypes(include = numerics)  #differentiating the numneric data with character type data
dataset_cat = df.select_dtypes(include = cat)

In [10]:
dataset_cat = dataset_cat.fillna('')

In [11]:
le = LabelEncoder()

In [12]:
dataset_cat = dataset_cat.apply(le.fit_transform) #converting data in numbers

In [13]:
dataset_cat.head()

   Season  Crop
0       1     2
1       1    74
2       1    95
3       4     7
4       4    22

In [14]:
dataset_cat = dataset_cat.drop(['Season'],1)

In [15]:
dataset_cat.head()

   Crop
0     2
1    74
2    95
3     7
4    22

In [16]:
dataset_num = dataset_num.fillna(dataset_num.mean())

In [17]:
X = dataset_num[['Area','Production']]
Y = dataset_cat['Crop']

In [18]:
X=preprocessing.scale(X)

In [19]:
model2 = LinearRegression()
model2.fit(X, Y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [53]:
a=int(input())
b=int(input())

1000
300

In [54]:
print ('Predicted Crop : \n', model2.predict([[a,b]]))

Predicted Crop :
 [1943.88812206]

In [55]:
pred = model2.predict([[a,b]])
pred=abs(pred[0])
pred=pred % 124

In [56]:
pred = [int(abs(pred.round()))]

In [57]:
le.classes_[int(round(pred[0]))]

'Plums'